*{ margin:0;
   padding:0;
  font-family: Roboto, arial;
  box-sizing:border-box;
}

body{
   background-color:#ddb;
}

#wrapper{
   max-width:1000px;
   margin:0 auto;
   background-color:white;
}

header img{
   width:100%;
   display:block;
}

/*MENU*/
nav{
   background-color:darkcyan;
}

nav a{
   display:block;
   width:25%;
   float:left;
   color:white;
   text-align:center;
   text-decoration:none;
   background-color:darkcyan;

}

nav a:hover{
   background-color:crimson;
   cursor:pointer;
}

a.menu{
   display:inline-block;
   width:25%;
   padding:15px 30px;
   color:white;
   text-decoration:none;
   text-align:center;
}

a.menu:hover{
   background-color:rgb(235, 145, 22);
}

.active{
   background-color:darkcyan;
}









article{
   margin-top:30px;
   margin-bottom:20px;
   padding:0 20px;
}

article h1{
   font-size:30px;
   text-align:center;
   margin:0 20% 20px 20%;
   padding-bottom:15px;
   border-bottom: 2px solid crimson;
 }

img.left{
   float:left;
   margin:0 10px 10px 0;
   width:25%;
   border-radius:50% 30%;
}

article p{
   text-align:justify;
   line-height:25px;
   font-size:18px;
   padding:15px 0;
}

iframe{
   width:100%;
}

footer{
   height:40px;
   background-color:darkcyan;
   color:white;
   line-height:40px;
   text-align:center;

}

@media(max-width:800px){
   nav{
      color:blue;
   }

}

@media(max-width:600px){
   nav{

      font-size:9px;
   }
   article h1{
      font-size:10px;
   }
}
